/*
 * Hi! I'm your stylesheet! I've got some sensible defaults here,
 * but feel free to change me to your heart's content!
 */

* {
  box-sizing: border-box;
  font-family: arial, sans-serif;
}

body {
  background: linear-gradient(#ffffff, #c0c0c0);
  height: 100vh;
  padding: 0;
  margin: 0;
  width: 100vw;
}

nav {
  align-items: center;
  background-color: #333333;
  color: #c0c0c0;
  display: flex;
  height: 80px;
  padding: 10px;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexContainer {
  display: flex;
}
.flexItem {
  flex: 1;
}
.flexStart {
  justify-content: flex-start;
}
.flexEnd {
  justify-content: flex-end;
}
.blueBackground {
  background: rgb(137, 142, 146);
}
.nav {
  list-style: none;
}
.nav a {
  text-decoration: none;
  display: block;
  padding: 0 1em;
  color: blue;
}

.nav h1 {
  text-decoration: none;
  display: block;
  padding: 0 1em;
  color: black;
}

.flexColumn {
  flex-direction: column;
}
.fullHeight {
  height: 100vh;
}
.whiteBackground {
  background: white;
}
.blueBackground {
  background: lightskyblue;
}
.main{
  order: 2;
  padding: 20px;
  border-left: 1px solid #777777;
  border-right: 1px solid #777777;
}
.sidebar {
  width: 20%;
  background: white;
  padding: 20px;
}
.sidebarLeft{
  order: 1;
}
.sidebarRight{
  order: 3;
}
